[submodule "Figuren"]
	path = Figuren
	url = ./Figuren

[submodule "Verschluesselung"]
	path = Verschluesselung
	url = ./Verschluesselung

[submodule "Word-Trainer"]
	path = Word-Trainer
	url = ./Word-Trainer

[submodule "G6a.2.1"]
	path = G6a.2.1
	url = ./G6a.2.1
