[submodule "Figuren"]
	path = Figuren
	url = ./Figuren

[submodule "Verschluesselung"]
	path = Verschluesselung
	url = ./Verschluesselung

[submodule "Word-Trainer"]
	path = Word-Trainer
	url = ./Word-Trainer
[submodule "sew-3dhit-lotto-Minecraftschurli"]
	path = G6a.2.1
	url = ./G6a.2.1
